body{
    background-color: #f5f1e3;
    font-family: Roboto;
    margin: 0%
}
.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0%;
}
.grid-container2{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0%;
}

.navbar{
    position: fixed;
    display: grid;
    grid-template-columns: 50% 10% 10% 10% 10% 10%;
    width: 100%;
    font-size: 17px;
    background-color: #CDC2AE;
    height: 30px;
    padding: 10px;
}
.navcolor-h{  
    grid-column: 4/span 1;
}
#navbar-name{
    padding-top: 5px;
}
#navbar-Home {
    padding-top: 2%;
}
#navbar-project{
    padding-top: 2%;
}
.navbar .navcolor-h  :hover{
    text-decoration: underline;
}
.navbar .navcolor-p  :hover{
    text-decoration: underline;
}
#navbar-name{
    padding-left: 15%;
}
#navbar-Home{
    text-align: center;
}
#navbar-project{
    text-align: center;
}
a{
    color: #150a36;
}
a:link {
    text-decoration: none;
} 
a:visited {
    text-decoration: none;
}  
a:hover {
    text-decoration: none;
} 
a:active {
    text-decoration: none;
}

.about-me{
    margin-top: 10%;
    text-align: center;
}
.about-me hr{
    width: 50px;
}

.profile{
    grid-template-columns: 50% 50%;
    background: #CDC2AE ;
    display: grid;
    flex-wrap: wrap;
    padding: 5% 5% 5% 3%;
    border-radius: 0 0 10% 10%;
}
.pf-left{
    display: block;   
    margin: auto;
    padding-top: 5%;
    width: 50%;
}
.hello{
    color: rgb(231, 249, 255);
    font-size: 20px;
    margin-top: 7%;
}
#profile-pic {
   text-align: center;
}
#profile-pic img{
    width: 300px;
    border-radius: 100%;
}
.profile{
    font-family: Sarabun;
}
#profile-name {
    font-size: 50px;
    font-weight: 900;
    color: #150a36;
}
.contact-phone{
    font-weight: bold;
    color: #150a36;
}
.contact-email{
    color: #150a36;
    font-weight: bold;
}
.con-face{
    font-weight: bold;
    color: #150a36;
}
.edu{
    margin-top: 10%;
    background-color: #C2DED1;
    padding: auto;
}
.kmutt-pic{
    background-image: url("image/kmutt.jpg");
    background-size: 100%;
}
.kmutt-edu{
    margin: auto;
}
.center{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
.center p{
    text-align: left;
}

.Hobby-container{ 
    margin-top: 10%;
    background-color: #C2DED1;
    padding: auto;
}
.Hobby-grid{
    margin: auto;
}
.Hobby{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
#Hobby-info{
    text-align: left;
}
.pic-hobby{
    background-image: url("image/hobby2.jpg");
    background-size: 100%;
    padding-bottom: 66%;
}


.skill-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0%;
    margin-top: 10%;
}
.skill-1{
    text-align: center;
    display: grid;
    flex-wrap: wrap;
    padding: 5% ;
    border-radius: 20px;
    margin: 10%;
    width: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#skill-topic{
    margin: 5px;
}
#skill-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#skill-info img{
    width: 50px;
    margin: 15px;
}
.skill-2{
    text-align: center;
    display: grid;
    flex-wrap: wrap;
    padding: 5% ;
    border-radius: 20px;
    margin: 10%;
    width: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#soft-skill-info{
    text-align: left;
}

.css{
    height: 50px;
}
hr{
    width: 40%;
	border-top: 1.5px solid rgb(36, 4, 63);
}
/*--------------------------------------*/
.project-topic{
    text-align: center;
    margin:100px 50px 24px 50px;;
}
.port-online{
    text-align: center;
}
.button {
    background-color: #354259;
    border-radius: 30px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.Project{
    grid-template-columns: 50% 50%;
    display: grid;
    padding: 5%;
    font-family: Sarabun;
    flex-wrap: wrap;
}
#pro-pic-1{
    grid-column: 1 / span 1 ;
    text-align: center;
}
#pro-pic-1 img{
    border-radius: 20px;
    max-width: 100%;
    width: 670px;
}
#pro-info-1{
    grid-column: 2 / span 1;
    text-align: center;
    margin: auto;
    max-width: 90%;
}
video{
    max-width: 100%;
    width: 670px;
    border-radius: 20px;
} 
.underline{
    color: #a33fe6;
    font-size: 13px;
}
.moreinfo{
    text-align: right;
}
#pro-pic-2{
    grid-column: 1 / span 1 ;
    text-align: center;
}
#pro-info-2{
    grid-column: 2 / span 1;
    text-align: center;
    margin: auto;
    max-width: 90%;
}
#pro-pic-3{
    grid-column: 1 / span 1 ;
    text-align: center;
}
#pro-pic-3 img{
    max-width: 100%;
    border-radius: 20px;
    width: 670px;
}
#pro-info-3{
    grid-column: 2 / span 1;
    text-align: center;
    margin: auto;
    max-width: 90%;
}
@media only screen and (max-width: 780px){
    .profile{
        padding: 10% 5% 5% 3%;
    }
    #profile-pic img{
        width: 200px;
    }
    #profile-name{
        font-size: 30px;
        padding-top: 70px;
    }
    #profile-name p{
        font-size: 20px;     
    }
    #Hobby-info img{
        width: 100px;
    }
    #skill-info img{
        width: 100px;
    }
    #inter-info > div{
        background-color: #ADD8FF;
        border-radius: 20px;
        width: 150px;
        margin: 20px;
        padding: 4% 0%;
    }
    .con-topic{
        text-align: left;
        font-size: 10px;
    }
    .Project{
        grid-template-columns: 100%;
        text-align: center;
    }
    #pro-pic-1 img{
        width: 100%;
        border-radius: 15px;
    }
    #pro-info-1{
        grid-column: auto;
        margin: 50px 10px;
    }
    video{
        width: 500px;
        border-radius: 15px;
    } 
    .underline{
        color: #786ce9;
        font-size: 13px;
    }
    .moreinfo{
        text-align: right;
    }
    #pro-info-2{
        grid-column: auto;
        margin: 50px 10px ;
    }
    #pro-pic-3 img{
        width: 500px;
        border-radius: 15px;
    }
    #pro-info-3{
        grid-column: auto;
        margin: 50px 10px;
    }
}
@media only screen and (max-width: 560px){ 
    .navbar{
        grid-template-columns: 50% 25% 25%;
        font-size: 13px;
    }
    .profile{
        display: grid;
        grid-template-columns: 100%;
        padding: 20% 5% 5% 3%;
    }
    #profile-pic img{
        width: 220px;
        text-align: center;
    }
    #profile-name{
        font-size: 30px;
        padding-top: 40px;
    }
    #profile-name p{
        font-size: 20px;     
    }
    #ass-info div{
        width: 300px;
        margin: 40px;
    }
    #ass-1 {
        background-size: 400px;
    }
    #ass-2 {
        background-size: 400px;
    }
    #ass-3 {
        background-size: 400px;
    }
    #ass-4 {
        background-size: 400px;
    }
    #ass-5 {
        background-size: 400px;
    }
    .con-topic{
        text-align: left;
        font-size: 10px;
    }
    .Project{
        grid-template-columns: 100%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #pro-pic-1 img{
        width: 300px;
        border-radius: 10px;
    }
    #pro-info-1{
        grid-column: auto;
        margin: 50px 10px;
    }
    video{
        width: 300px;
        border-radius: 10px;
    } 
    .underline{
        color: #786ce9;
        font-size: 13px;
    }
    .moreinfo{
        text-align: right;
    }
    #pro-info-2{
        grid-column: auto;
        margin: 50px 10px ;
    }
    #pro-pic-3 img{
        border-radius: 10px;
        width: 300px;
    }
    #pro-info-3{
        grid-column: auto;
        margin: 50px 10px;
    }
}
